Repository emost22/URMine, pull requests merged in 2022-04, with the labels that each got.

#2 Feature: frontend init
  urmine-frontend/.gitignore
  urmine-frontend/README.md
  urmine-frontend/package-lock.json
  urmine-frontend/package.json
  urmine-frontend/public/favicon.ico
  urmine-frontend/public/index.html
  urmine-frontend/public/logo192.png
  urmine-frontend/public/logo512.png
  urmine-frontend/public/manifest.json
  urmine-frontend/public/robots.txt
  urmine-frontend/src/App.tsx
  urmine-frontend/src/Routes/Home.tsx
  urmine-frontend/src/Routes/Login.tsx
  urmine-frontend/src/Routes/Pokedex.tsx
  urmine-frontend/src/Routes/Profile.tsx
  urmine-frontend/src/index.tsx
  urmine-frontend/tsconfig.json
Labels: init setting

#1 Backend init
  urmine-backend/.gitignore
  urmine-backend/build.gradle
  urmine-backend/gradle/wrapper/gradle-wrapper.jar
  urmine-backend/gradle/wrapper/gradle-wrapper.properties
  urmine-backend/gradlew
  urmine-backend/gradlew.bat
  urmine-backend/settings.gradle
  urmine-backend/src/main/java/com/urmine/UrmineBackendApplication.java
  urmine-backend/src/main/resources/application.properties
  urmine-backend/src/test/java/com/urmine/UrmineBackendApplicationTests.java
Labels: init setting

#4 Create Entities
  urmine-backend/src/main/java/com/urmine/db/entity/Badge.java
  urmine-backend/src/main/java/com/urmine/db/entity/Pokemon.java
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonEvolution.java
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonEvolutionId.java
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonPicture.java
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonPictureId.java
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonType.java
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonTypeId.java
  urmine-backend/src/main/java/com/urmine/db/entity/User.java
  urmine-backend/src/main/java/com/urmine/db/entity/UserBadge.java
  urmine-backend/src/main/java/com/urmine/db/entity/UserBadgeId.java
  urmine-backend/src/main/java/com/urmine/db/entity/UserPokemon.java
  urmine-backend/src/main/java/com/urmine/db/entity/UserPokemonId.java
Labels: Entity

#5 application.properties에 설정을 추가한다.
  urmine-backend/src/main/resources/application.properties
Labels: init setting

#6 Add gitignore application-aws.properties file
  urmine-backend/.gitignore
Labels: Docs

#7 properties ddl-auto create -> none
  urmine-backend/src/main/resources/application.properties
Labels: properties

#9 Login 페이지 UI 구현
  urmine-frontend/src/App.tsx
  urmine-frontend/src/Routes/Login.tsx
Labels: frontend

#8 Icon에 link 구현
  urmine-frontend/public/images/kakao_login_large_wide.png
  urmine-frontend/public/images/login.png
  urmine-frontend/public/images/logo.png
  urmine-frontend/public/images/logout.png
  urmine-frontend/public/images/monsterball.png
  urmine-frontend/public/images/profile.png
  urmine-frontend/src/components/Header.tsx
Labels: frontend

#10 Pokemon 데이터 생성을 위한 테스트 코드를 작성한다.
  urmine-backend/src/main/java/com/urmine/db/repository/PokemonRepository.java
  urmine-backend/src/test/java/com/urmine/db/data/DataSample.java
Labels: Entity

#11 PokemonType Entity에 typeNumber를 추가한다.
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonType.java
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonTypeId.java
Labels: Entity

#12 PokemonType 데이터 생성을 위한 테스트 코드를 작성한다.
  urmine-backend/src/main/java/com/urmine/db/repository/PokemonTypeRepository.java
  urmine-backend/src/test/java/com/urmine/db/data/DataSample.java
Labels: Entity

#13 PokemonEvolutionId class에서 pokemon 변수 타입을 변경한다.
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonEvolutionId.java
Labels: Entity

#14 PokemonEvolution 데이터 생성을 위한 테스트 코드를 작성한다.
  urmine-backend/src/main/java/com/urmine/db/repository/PokemonEvolutionRepository.java
  urmine-backend/src/test/java/com/urmine/db/data/DataSample.java
Labels: Entity

#15 UserPokemonId class에서 user 변수 타입을 변경한다.
  urmine-backend/src/main/java/com/urmine/db/entity/UserPokemonId.java
Labels: Entity

#16 PokemonPicture Entity 이미지를 흑백, 컬러 이미지로 변경한다.
  urmine-backend/src/main/java/com/urmine/db/entity/PokemonPicture.java
Labels: Entity
