Repository emost22/URMine, pull requests merged in 2022-05, with the labels that each got.

#17 PokemonPicture 데이터 생성을 위한 테스트 코드를 작성한다.
  urmine-backend/src/main/java/com/urmine/db/repository/PokemonPictureRepository.java
  urmine-backend/src/test/java/com/urmine/db/data/DataSample.java
Labels: Entity

#18 Badge 데이터 생성을 위한 테스트 코드를 작성한다.
  urmine-backend/src/main/java/com/urmine/db/repository/BadgeRepository.java
  urmine-backend/src/test/java/com/urmine/db/data/DataSample.java
Labels: Entity

#21 build.gradle에 의존성을 추가/수정 한다.
  urmine-backend/build.gradle
Labels: backend, setting

#22 유저 관리를 위한 Controller, Service, Repository를 생성한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/service/UserService.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
  urmine-backend/src/main/java/com/urmine/db/repository/UserRepository.java
Labels: backend, user

#23 WebSecurityConfig를 생성한다.
  urmine-backend/src/main/java/com/urmine/config/WebSecurityConfig.java
Labels: backend, config

#24 UserController, Service에 변수를 생성한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user

#25 Design: change height of Header & Typeit
  urmine-frontend/src/Routes/Home.tsx
  urmine-frontend/src/Routes/Login.tsx
  urmine-frontend/src/components/Header.tsx
  urmine-frontend/src/components/HomeContainer.tsx
  urmine-frontend/src/index.css
Labels: frontend, design

#27 SwaggerConfig를 생성한다.
  urmine-backend/src/main/java/com/urmine/config/SwaggerConfig.java
Labels: backend, config

#28 WebSecurityConfig에 configure 메소드를 추가한다.
  urmine-backend/src/main/java/com/urmine/config/WebSecurityConfig.java
Labels: backend, config

#29 SwaggerConfiguration을 추가한다.
  urmine-backend/build.gradle
  urmine-backend/src/main/java/com/urmine/config/SwaggerConfig.java
Labels: backend, config

#30 UserController, Service에 카카오 로그인 페이지를 반환하는 메소드를 생성한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/service/UserService.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user

#31 UserService에 getKakaoTokens 메소드를 추가한다.
  urmine-backend/src/main/java/com/urmine/api/service/UserService.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user, kakao

#32 UserGetResponseDto를 생성한다.
  urmine-backend/src/main/java/com/urmine/api/response/UserGetRes.java
Labels: backend, user

#33 토큰을 이용한 회원가입 or 로그인 기능을 추가한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/service/UserService.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user, kakao

#34 띠부띠부씰 HTML & CSS 작업
  urmine-frontend/src/Routes/Home.tsx
  urmine-frontend/src/Routes/Pokedex.tsx
  urmine-frontend/src/components/PokeSeal.tsx
  urmine-frontend/src/components/Search.tsx
  urmine-frontend/src/components/Typeit.tsx
Labels: frontend, design

#36 UserService에서 Kakao 유저 정보를 가져오는 로직을 추가한다.
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user, kakao

#37 UserService에서 유저 정보를 JSON으로 변환하여 Controller에 보낸다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user, kakao

#38 이미 가입된 유저인지 확인한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
  urmine-backend/src/main/java/com/urmine/db/repository/UserRepository.java
Labels: backend, user, kakao

#39 UserRepositoryTest를 생성한다.
  urmine-backend/src/test/java/com/urmine/db/repository/UserRepositoryTest.java
Labels: backend, test

#42 DataSample의 메소드들을 주석처리 한다.
  urmine-backend/src/test/java/com/urmine/db/data/DataSample.java
Labels: Entity, backend

#40 Kakao 계정 로그인 및 회원가입을 추가한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user, kakao

#43 컴파일 에러가 발생한 코드를 제거한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
Labels: bug, backend

#45 Pokemon Entity에 isEvolution Column을 삭제한다.
  urmine-backend/src/main/java/com/urmine/db/entity/Pokemon.java
Labels: Entity, backend

#44 도감페이지 Design 작업 마무리
  urmine-frontend/src/components/PokeSeal.tsx
Labels: frontend, design

#46 UserGetRes file 구조를 변경한다.
  urmine-backend/src/main/java/com/urmine/api/controller/UserController.java
  urmine-backend/src/main/java/com/urmine/api/response/user/UserGetRes.java
  urmine-backend/src/main/java/com/urmine/api/service/UserService.java
  urmine-backend/src/main/java/com/urmine/api/service/UserServiceImpl.java
Labels: backend, user

#48 Pull Request Template을 추가한다.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Docs

#47 포켓몬 관리를 위한 Controller, Service를 생성한다.
  urmine-backend/src/main/java/com/urmine/api/controller/PokemonController.java
  urmine-backend/src/main/java/com/urmine/api/service/PokemonService.java
  urmine-backend/src/main/java/com/urmine/api/service/PokemonServiceImpl.java
Labels: backend, pokemon

#50 프로필 페이지 HTML&CSS 작업
  urmine-frontend/src/Routes/Login.tsx
  urmine-frontend/src/Routes/Profile.tsx
  urmine-frontend/src/components/Header.tsx
Labels: frontend, design

#51 배지 부분 HTML & CSS
  urmine-frontend/src/Routes/Profile.tsx
  urmine-frontend/src/components/Badge.tsx
Labels: frontend, design

#52 PokemonGetResponseDto를 생성한다.
  urmine-backend/src/main/java/com/urmine/api/response/pokemon/PokemonGetRes.java
  urmine-backend/src/main/java/com/urmine/api/response/pokemonevolution/PokemonEvolutionGetRes.java
  urmine-backend/src/main/java/com/urmine/api/response/pokemonpicture/PokemonPictureGetRes.java
  urmine-backend/src/main/java/com/urmine/api/response/pokemontype/PokemonTypeGetRes.java
Labels: backend, pokemon

#53 Dockerfile을 추가한다.
  urmine-backend/Dockerfile
Labels: backend, docker

#54 findUserByAccountEmail Test Method를 추가한다.
  urmine-backend/src/test/java/com/urmine/db/repository/UserRepositoryTest.java
Labels: backend, user, test

#55 PokemonService에 모든 포켓몬 정보 조회를 추가한다.
  urmine-backend/src/main/java/com/urmine/api/service/PokemonServiceImpl.java
Labels: backend, pokemon

#56 Docs: Dockerfile
  urmine-frontend/Dockerfile
Labels: frontend, docker
