Repository emost22/URMine, pull requests merged in 2022-06, with the labels that each got.

#58 카카오 로그인으로 이동
  urmine-frontend/src/Routes/Login.tsx
  urmine-frontend/src/api/user.ts
  urmine-frontend/src/components/Header.tsx
  urmine-frontend/tsconfig.json
Labels: frontend, api

#59 모든 포켓몬 정보를 조회하는 API를 마무리한다.
  urmine-backend/src/main/java/com/urmine/api/controller/PokemonController.java
  urmine-backend/src/main/java/com/urmine/api/service/PokemonServiceImpl.java
Labels: backend, pokemon

#62 더미 데이터를 위한 Datasample을 수정한다.
  urmine-backend/src/test/java/com/urmine/db/data/DataSample.java
Labels: Entity, backend, pokemon

#63 포켓몬의 번호로 포켓몬 정보를 가져오기위한 메소드를 추가한다.
  urmine-backend/src/main/java/com/urmine/api/service/PokemonService.java
  urmine-backend/src/main/java/com/urmine/api/service/PokemonServiceImpl.java
Labels: backend, pokemon

#64 특정 포켓몬의 정보를 조회하는 메소드를 마무리한다.
  urmine-backend/src/main/java/com/urmine/api/service/PokemonServiceImpl.java
Labels: backend, pokemon
